* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 0.9rem;
}

@media screen and (min-width: 350px) {
  html {
    font-size: 1rem;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 1.3rem;
  }
}

.hero-text h1 {
  font-size: 1.3rem;
}

@media screen and (min-width: 350px) {
  .hero-text h1 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 600px) {
  .hero-text h1 {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero-text h1 {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero-text h1 {
    font-size: 2.5rem;
  }
}

html, body {
  height: 100%;
}

#site-container {
  height: 100%;
}

#hero-grid {
  height: 100%;
  background-color: lightsteelblue;
  text-align: center;
  padding: 0 0.5rem;
  display: block;
}

@media screen and (min-width: 600px) {
  #hero-grid {
    height: 93.5%;
  }
}

@media screen and (min-width: 350px) {
  #hero-grid {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 600px) {
  #hero-grid {
    padding: 0 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  #hero-grid {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 1200px) {
  #hero-grid {
    padding: 0 3rem;
  }
}

@media screen and (min-width: 350px) {
  #hero-grid {
    background-color: darkmagenta;
    grid-area: navbar;
    grid-area: hero-left;
    grid-area: hero-right;
  }
}

@media screen and (min-width: 600px) {
  #hero-grid {
    display: -ms-grid;
    display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'hero-left hero-right';
    text-align: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #e94b0d;
    grid-area: navbar;
    grid-area: hero-left;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: hero-right;
  }
}

@media screen and (min-width: 1024px) {
  #hero-grid {
    background-color: #006946;
    grid-area: navbar;
    grid-area: hero-left;
    grid-area: hero-right;
  }
}

@media screen and (min-width: 1200px) {
  #hero-grid {
    background-color: #5d63be;
    grid-area: navbar;
    grid-area: hero-left;
    grid-area: hero-right;
  }
}

#other {
  height: 100%;
  background-color: lightblue;
}

#another {
  height: 100%;
  background-color: lightsalmon;
}

#footer {
  height: 30%;
  background-color: black;
}

@media screen and (min-width: 600px) {
  #navbar {
    padding: 0 0.5rem;
    background-color: lightgreen;
    grid-area: navbar;
    height: 6.5%;
  }
}

@media screen and (min-width: 600px) and (min-width: 350px) {
  #navbar {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 600px) and (min-width: 600px) {
  #navbar {
    padding: 0 1.5rem;
  }
}

@media screen and (min-width: 600px) and (min-width: 1024px) {
  #navbar {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 600px) and (min-width: 1200px) {
  #navbar {
    padding: 0 3rem;
  }
}

@media screen and (min-width: 600px) {
  nav, .nav-list {
    height: 100%;
  }
}

.nav-list {
  list-style-type: none;
  display: none;
}

@media screen and (min-width: 600px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav-link {
  margin: 0rem 1.5rem;
}

.nav-link:hover {
  cursor: pointer;
}

.hero {
  -ms-grid-column-align: center;
      justify-self: center;
  border: 2px solid black;
}

@media screen and (min-width: 600px) {
  .hero {
    width: 90%;
  }
}

.hero-text {
  grid-area: hero-left;
}

.hero-img {
  grid-area: hero-right;
  text-align: center;
}

.hero-img img {
  height: 200px;
  width: 200px;
}
/*# sourceMappingURL=main.css.map */