* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    @include font-size-map($document-font-size);
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: $background-light;
}


#other {
    height: 100%;
    background-color: white;
}

#another {
    height: 100%;
    // background-color: lightsalmon;
}

// #footer {
    // height: 50%;
    // background-color: black;
    // color: white;
// }

//Style Classes
.menu-open {
    position: fixed;
    background-color: $black-opacity;
    // transition: background-color .1s ease;
    // z-index: 15;
}