* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    @include font-size-map($document-font-size);
    // overflow-x: auto;
    // overflow-y: visible;
    // min-height: 100%;
    overflow-x: hidden;
}

html, body {
    overflow-y: visible;
    height: 100%;
    // overflow-x: hidden;
    // overflow-y: scroll;
    // z-index: -10;
    // overflow: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $site-background-dark;
    // overflow-x: hidden;
    // background-color: $background-light;
    // background-color: #bdc3cc52;
    // #c5d4d526
    // #dadfd145
    // #fdf0e95e
    // #e3dfcd4f
    // #cdf9ff24
    // #b1d8dd3b
    // #bdc3cc52
    // overflow-x: auto;
    // overflow-y: visible;
    // min-height: 100%;
}

#site-wrapper {
    // overflow-x: hidden;
    // position: relative;
    height: 100%;
    transition: background-color .5s ease;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

#section-services {
    // min-height: 150%;
    // background-color: lightcyan;
}

#section-contact {
    // margin-top: 10%;
    // min-height: 100%;
}

#section-projects-design, #section-contact {
    background-color: $site-background-light;
}

//Style Classes
.overflow-hidden {
    overflow-y: hidden;
}

.section-low {
    z-index: -1;
    position: relative;
}

.site-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: $black-opacity;
    z-index: -1;
    opacity: 0;
    transition: opacity .5s ease, z-index .5s ease;
}

.overlay-active {
    z-index: 2;
    opacity: 1;
}

.section-title {
    text-align: center;
    padding: 2em 0 1em;
    text-transform: uppercase;
}

// .body-fixed {
//     // overflow: hidden;
// }
// .html-fixed {
//     overflow-x: hidden;
// }