* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    @include font-size-map($document-font-size);
    @include o-media-query ($sm, $md, portrait) {
        font-size: 1.1em!important;
    }
    overflow-x: hidden;
}

html, body {
    overflow-y: visible;
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: $site-background-dark;
}

#site-wrapper {
    height: 100%;
    transition: background-color .5s ease;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.25px;
}

#section-projects-design, #section-projects-software, #section-contact {
    background-color: $site-background-light;
}

//Style Classes
.overflow-hidden {
    overflow-y: hidden;
}

.site-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: $black-opacity;
    z-index: -1;
    opacity: 0;
    transition: opacity .5s ease, z-index 1s ease;
}

.overlay-active {
    z-index: 3;
    opacity: 1;
    transition: opacity .5s ease;
}

h1.section-title {
    text-align: center;
    padding: 2em 0 1em;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

h1.section-title, #contact-form h2 {
    position: relative;
    text-shadow: 1px 1px 0px #FFF, 2px 2px 0px rgba(107, 107, 107, 0.41);

    &::before {
        content: "";
        position: absolute;
        // left: initial;
        // top: 0;
        display: inline-block;
        width: 3px;
        height: 35px;
        margin-left: -7.5px;
        border-radius: 2px;
        background-image: linear-gradient(155deg, $blue-theme-darker, $blue-theme-dark, $blue-theme-middle, $blue-theme-light, $blue-theme-lighter);
        // box-shadow: inset 0 16px 15px -4px #eee;
    }
}

h2.service-title, h2.software-title {
    text-shadow: .75px .75px .75px #afafaf;
}

button#hero-cta, button#contact-form-button {
    letter-spacing: .5px;
    &:focus {
        @include button-select;
    }
}

#section-about p, #section-services p, #section-contact p, #footer p {
    letter-spacing: 0.1px;
}

.ie-conditional {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding: 40px 0;
    background-color: #eee;
    text-align: center;
}