@mixin test-grid {
}

@mixin test-grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-template-rows: 3rem calc(100% - 3rem);
  grid-template-areas: 
  // 'navbar navbar'
  'hero-left hero-right';
  text-align: left;
  align-items: center;
  // background-color: rgb(233, 75, 13);
}

@mixin test-grid3 {
}

@mixin test-grid4 {
}