{
    "presets": [
      ["@babel/preset-env", {
        "targets": {
          "browsers": ["defaults", "ie 10"] //TODO: check this
        },
        "useBuiltIns": "entry",
        "debug": true
      }]
    ]
  }