//breakpoints mixins
@mixin media-query ($min-width: 0, $max-width: false) {
    @if ($max-width == false) {
        @media screen and (min-width: $min-width) {
            @content;
        }
    } 
    @else  {
        @media screen and (min-width: $min-width) and (max-width: $max-width) {
            @content;
        }
    }
}

@mixin o-media-query ($min-width: 0, $max-width: false, $orientation) {
    @if ($max-width == false) {
        @media screen and (min-width: $min-width) and (orientation: $orientation) {
            @content;
        }
    } 
    @else  {
        @media screen and (min-width: $min-width) and (max-width: $max-width) and (orientation: $orientation) {
            @content;
        }
    }
}


@mixin grid-media-query ($min-width: 0) {
    @media screen and (min-width: $min-width) {
        @content;
        @if($min-width > $sm){
            // grid-area: navbar;
            grid-area: hero-left;
            grid-area: hero-right;
        }
    }
} 

//maps for responsive elements.
@mixin font-size-map ($font-size-map) {
    @each $screen-size, $font-size in $font-size-map {
        @if ($screen-size == null){
            font-size: $font-size;
        }
        @else {
            @include media-query($screen-size) {
                font-size: $font-size;
            }
        }
    }
}

@mixin padding-map ($content-wrap-map) {
    @each $screen-size, $padding in $content-wrap-map {
        @if ($screen-size == null){
            padding: $padding;
        }
        @else {
            @include media-query($screen-size) {
                padding: $padding;
            }
        }
    }
}

@mixin margin-map ($content-wrap-map) {
    @each $screen-size, $margin in $content-wrap-map {
        @if ($screen-size == null){
            margin: $margin;
        }
        @else {
            @include media-query($screen-size) {
                margin: $margin;
            }
        }
    }
}

@mixin grid-map ($grid-list) {
    @each $screen-size  in $grid-list {
        @if ($screen-size == null){
            @content;
        }
        @else {
            @include grid-media-query($screen-size) {
                @if ($screen-size == $sm) {
                    @include test-grid;
                }
                @else if ($screen-size == $md){
                    @include test-grid2;
                } 
                @else if ($screen-size == $lg){
                    @include test-grid3;
                } 
                @else if ($screen-size == $xl){
                    @include test-grid4;
                } 
            }
        }
    }
}

// TODO: prefixes sass map
@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    }
    #{$property}: $value;
}

@mixin prefixes ($property, $value) {
    #{'-webkit-' + $property}: $value;
    #{'-moz-' + $property}: $value;
    #{'-ms-' + $property}: $value;
    #{$property}: $value;
}

@mixin anim-prefixes ($property, $value: ()) {
    #{'-webkit-' + $property}: $value;
    #{$property}: $value;
}

@mixin user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin button-select {
    outline-style: dotted;
    outline-width: thin;
}