//breakpoint variables
$xs: 480px;
$sm: 640px;
$md: 1024px;
$lg: 1170px;


// font sizes variables
$document-font-size: (null: .9rem, $xs: 1rem, $sm: 1.1rem, $md: 1.2rem, $lg: 1.3rem);

$title-font-size: (null: 1.3rem, $xs: 1.5rem, $sm: 1.8rem, $md: 2.2rem, $lg: 2.5rem);

// font colors
$blackish-color: #414141