// $xs: 480px;
// $sm: 640px;
// $md: 1024px;
// $lg: 1170px;


// ia (min-width:992px) {
//    @media (min-width:1200px) {
//    @media (min-width:576px) {
//    @media (min-width:768px) {
    // https://www.travelperk.com/

// extra small max width 350
// for tables min-width 600


//breakpoint variables
// $xxs: 320px;
// $sm: 480px;
$sm: 350px;
$md: 600px;
$lg: 1024px;
$xl: 1200px;

//colors
$nav-light: rgba(255, 255, 255, 0.3);
$background-light: rgb(248, 248, 248);
$white-opacity: rgba(250, 250, 250, 0.8);
$black-opacity: rgba(0, 0, 0, .7);

$font-dark-: #414141;
$font-dark2: #212529;

// paddings
$padding-mobile-small: 0 .5rem;
$padding-mobile: 0 1rem;
$padding-tablet: 0 1.5rem;
$padding-desktop: 0 2rem;
$padding-desktop-large: 0 3rem;

// paddings map
$padding-map: (
    null: $padding-mobile-small,
    $sm: $padding-mobile,
    $md: $padding-tablet,
    $lg: $padding-desktop,
    $xl: $padding-desktop-large
);

// font sizes maps
$document-font-size: (null: .9rem, $sm: 1rem, $md: 1.1rem, $lg: 1.2rem, $xl: 1.3rem);
$title-font-size: (null: 1.3rem, $sm: 1.5rem, $md: 1.8rem, $lg: 2.2rem, $xl: 2.5rem);

// grid-list
$grid-list: null $sm $md $lg $xl;