#section-about {
    // background-color: pink;
    min-height: 50%;
    @include padding-map($content-wrap-sm);
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media-query ($md) {
        background-image: url(/assets/optimized/background-grey.svg);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 170px;
    }

    .section-title {
        padding-top: 0;
        margin-top: -10%;
    }

    p {
        width: 80%;
        text-align: center;
        margin: 0 auto;
        @include media-query ($lg, $xl) {
            width: 70%;
        }
        @include media-query ($xl, $xxl) {
            width: 60%;
        }
        @include media-query ($xxl) {
            width: 50%;
        }
    }
}

