#section-about {
    // background-color: pink;
    height: 350px;
    min-height: 50%;
    @include padding-map($content-wrap-sm);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(/assets/optimized/svg-bg-left.svg);
    background-repeat: no-repeat;
    background-position: left top;
    margin-top: 2em;
    background-size: contain;
    // background-size: 60px;
    @include media-query ($md) {
        // background-size: 130px;
        height: 750px;
        background-position: left;
    }
    @include o-media-query ($sm, $md, portrait) {
        height: 575px;
        // background-size: 100px;
    }
    .section-title {
        margin-top: -120px;
        @include media-query ($md) {
            padding-top: 0;
            margin-top: -300px;
        }
        @include o-media-query ($sm, $md, portrait) {
            margin-top: -250px;
        }
    }
    p {
        width: 80%;
        text-align: center;
        margin: 0 auto;
        @include media-query ($lg, $xl) {
            width: 70%;
        }
        @include media-query ($xl, $xxl) {
            width: 60%;
        }
        @include media-query ($xxl) {
            width: 50%;
        }
    }
}

