#section-contact {
  // background-image: url(/assets/design-color-100.svg);
  // background-repeat: no-repeat;
  // background-position: right;
  // padding-top: 7.5%;
  // margin-top: 2.5%;
  // background-size: 600px;
  // min-height: 1000px;
  // $contact-form-strong: 0 5px 20px rgba(107,124,141,.4),1px 1px 3px 2px rgba(107, 124, 141, 0.06);
  background-size: 310px;
  min-height: 41em;
  background-image: url(/assets/contact-bg.svg);
  background-repeat: no-repeat;
  background-position: right 10%;
  padding-top: 2em;
  @include media-query ($xs) {
    min-height: 40em;
  }
  @include media-query ($md) {
    background-size: 400px;
    min-height: 750px;
    // background-image: url(/assets/contact-bg.svg);
    // background-repeat: no-repeat;
    background-position: right;
    padding-top: 12%;
    // margin-top: 2.5%;
  }
  @include media-query ($lg) {
    background-size: 450px;
    min-height: 850px;
  }
  @include media-query ($xl) {
    background-size: 550px;
    min-height: 950px;
  }
  @include media-query ($xxl) {
    background-size: 650px;
    min-height: 1110px;
  }
  form {
    @include media-query ($md) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.form-title {
  @include media-query (0, $md) {
    margin-top: 0!important;
  }
  margin-bottom: 2em;
    @include media-query ($md) {
      grid-area: title;
      margin-bottom: 1em!important;
    }
    h2 {
      text-transform: uppercase;
      margin-bottom: .3em;
      word-spacing: .1em;
    }
    h4 {
      font-family: "Lato", sans-serif;
    }
}

.form-container {
  @include media-query (0, $sm) {
    height: 31.75em;
    width: 90%;
  }
  @include media-query ($sm, $md) {
    height: 32em;
    width: 80%;
  }
  @include media-query (0, $md) {
    background-color: #ffffffba;
    border-radius: 2.5em;
    margin: 0 auto;
    margin-top: 0px;
    box-shadow: 0 1px 20px rgba(107,124,141,.4), 1px 0px 3px 2px rgba(107,124,141,.05);
  }
  @include media-query ($md) {
    max-width: 1000px;
    box-shadow: $contact-form-double;
    border-radius: 5px;
    width: 70%;
  }
  @include media-query ($md, $lg) {
    width: 90%;
  }
  @include media-query ($lg, $xl) {
    width: 85%;
  }
}

.form-fields {
  overflow-x: hidden;
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding-top: 1.5em;
  @include media-query ($sm) {
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 2em;
  }
  @include media-query ($md) {
      @include margin-map ($content-wrap-sm);
      display: grid;
      grid-template-columns: 2fr 1.75fr;
      grid-template-rows: repeat(5, 1fr) auto;
      grid-template-areas: 
      'title title'
      'name right'
      'email right'
      'subject right'
      'button right'
      'status .';
      justify-content: center;
      align-items: center;
      margin-bottom: -1em;
      margin-right: 0.5em;
      padding-top: 0;
    }
    @include media-query ($lg) {
      margin-right: .7em;
    }
    @include media-query ($xl) {
      margin-right: 1em;
    }

}

.field {
  position: relative;
  margin: 3em 0;
  @include media-query($md) {
    margin: 0;
  }
  .field-name {
    grid-area: name;
  }
  .field-email {
      grid-area: email;
  }
  .field-message {
      grid-area: subject;
      margin-top: .1em;
  }
}
  
.form-fields textarea {
  width: 100%;
  height: 3.5em;
  font-family: inherit;
  font-size: .8em;
  border-radius: 5px;
  border-style: hidden;
  outline: none;
  resize: none;
  background-color: transparent;
}

.field-button {
  grid-area: button;
  align-self: center;
  text-align: center;
  outline: none;
  @include media-query (0, $md) {
    margin-bottom: 2.2em;
  }
}

#contact-form-button {
  position: relative;
  height: 2em;
  width: 8em;
  font-size: 1.15em;
  border-style: none;
  z-index: 1;
  border-radius: 1.5em;
  box-shadow: -.75px -.75px 2px .5px rgba(170, 198, 225, 0.41), 1px 1.3px 2px 1px rgba(107, 124, 141, 0.59);
  background-color: transparent;
  transition: background-color .5s ease, color .5s ease, filter .5s ease, color .5s ease;
  color: #fff;
  text-shadow: 1px 1px .5px #000;

  p {
    transition: color .3s ease, text-shadow .3s ease;
  }

}

#contact-form-button p::after {
  content: "";
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 1.5em;
  background-image: $btn-gradient;
  background-size: 100%;
  background-position: left;
  transition: transform 0.3s, opacity 0.4s;
}

#contact-form-button.button-active:hover > p::after {
  transform: scale(1.3);
  opacity: 0;
}

#contact-form-button.button-active:hover > p {
  color: #00416b;
  text-shadow: none;
}


#field-status {
  grid-area: status;
  height: 75px;
  pointer-events: none;
  display: flex;
  justify-content: center;
  padding-top: 1em;
  @include o-media-query ($sm, $md, portrait) {
    padding-top: 3.75em;
    margin-bottom: 2em;
  }
}

#contact-form-status {
  color: #001828;
  padding: .75em .9em;
  width: 98%;
  max-width: 370px;
  align-self: center;
  text-align: center;
  font-size: .9em;
  opacity: 0;
  transition: opacity .5s ease-in;
  // margin-top: .5em;
  // margin: 0 auto;
}

.form-fields input {
  height: 2.5em;
  width: 100%;
  border-radius: 5px;
  border-style: none;
  font-size: 0.8rem;
  outline: none;
  background-color: transparent;
}

.form-fields .input-label {
  color: gray;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: .9em;
  pointer-events: none;
  border-bottom: 1px solid rgba(187, 182, 182, 0.7);
}

.input-label .asterisk-span {
  position: relative;
  top: -.8em;
  color: red;
  font-size: .6em;
}

.form-fields .input-label:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  border-bottom: 1.5px solid $selected;
  transition: transform .5s ease, border-bottom 1s ease-out;
}

.input-error + .input-label:after {
  bottom: -1px;
  transform: translateX(0);
  transition-delay: .5s;
  border-bottom-color: $error;
}

.input-error-email + .input-label:after {
  transition-delay: 12.5s;
}

.input-error + .input-label .label-span {
  transform: translateY(-150%);
  font-size: .9em;
  color: $selected;
}

.input-correct + .input-label:after {
  bottom: -1px;
  transform: translateX(0);
  border-bottom-color: $success;
}


.form-fields .label-span {
  display: block;
  transition: transform .5s ease, font-size .5s ease, color .5s ease;
}

.field-name, .field-email {
  margin-top: 3.825em;
  @include media-query($md) {
    margin-top: 1em;
  }
}

.field-message .label-span {
  margin-top: .8em;
}

.form-fields input:focus + .input-label .label-span,
.form-fields input:valid + .input-label .label-span {
  transform: translateY(-150%);
  font-size: .8em;
  color: $selected;
}

.form-fields textarea:focus + .input-label .label-span,
.form-fields textarea:valid + .input-label .label-span {
  transform: translateY(-230%);
  font-size: .8em;
  color: $selected;
}

.form-fields input:focus + .input-label:after,
.form-fields input:valid + .input-label:after,
.form-fields textarea:focus + .input-label:after,
.form-fields textarea:valid + .input-label:after {
  transform: translateX(0);
}
  
.form-fields textarea::placeholder {
  color: gray;
  font-size: 1em;
}

.form-info {
  display: none;
  @include media-query ($md) {
    display: block;
    grid-area: right;
    justify-self: right;
    min-width: 200px;
    max-width: 275px;
    background-color: $site-background-light;
    box-shadow: $contact-form-double;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 45%;
    border-top-left-radius: 8%;
    border-bottom-right-radius: 8%;
    height: 94%;
    width: 90%;
    margin-bottom: 1.3em;
    margin-right: .75em;
  }
  @include media-query ($lg) {
    margin-right: 1em;
    max-width: 300px;
  }
  h4 {
    text-align: center;
    @include media-query ($md) {
      font-size: 1.2em;
      margin: 0 auto;
      margin-top: 1.35em;
      width: 67.5%;
      transform: translateX(-10px);
    }
  }
  .info-container:nth-child(4) {
    svg {
      height: 1.6em;
      width: 1.6em;
    }
  }
}

.info-container {
  font-size: 0.8em;
  display: flex;
  align-items: center;
  @include media-query ($md) {
    width: 100%;
    margin: 1.25em 0 0 13%;
  }
  &:nth-of-type(1) {
    @include media-query ($md) {
      margin-top: 1.75em;
    }
  }
}

.info-data {
  margin-left: 0.5em;
  width: 77.5%;
}

// SVG Styles
.info-data span {
  display: inline-block;
}

.info-data:last-child {
  width: 70.5%;
}

.info-container .info-icon {
  height: 1.5em;
  width: 1.5em;
  fill: $blue-theme-darker;
}

.info-social {
  text-align: center;
  margin-top: 1.25em;
  .info-icon {
    fill: $brand-color-blue;
    height: 2.25em;
    width: 2.25em;
    transition: fill 350ms ease, transform 350ms ease;
    &:hover {
      fill: $brand-color-green;
      transform: scale(1.15);
      cursor: pointer;
    }
    &:last-child {
      margin-left: 1em;
    }
  }
}

.info-container .info-icon:hover {
  fill: $blue-theme-middle;
}

// Event Style Classes
.button-active {
  // background-color: rgba(184, 182, 182, 0.884);
  // color: #fff;
  // text-shadow: 1px 1px 1.8px #000;
  cursor: pointer;
}

.button-inactive {
  cursor: not-allowed;
  // background-color: rgb(236, 236, 236);
  // color: #000;
  // opacity: 0.5;
  color: #737373;
  filter: contrast(190%) grayscale(100%) opacity(.5);
  // opacity(.45)
}

.msg-visible {
  opacity: 1!important;
  pointer-events: all!important;
}

.button-shake {
  animation: shake 550ms ease-in-out; 
}

.message-error-contact {
  box-shadow: $message-light;
  background-color: $error; 
  border-radius: 9px;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(4deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(2deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}