#footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: .25em .75em;
    margin-top: 10%;
    color: $white-opacity;
    @include padding-map ($content-wrap-hr);
    @include media-query ($md) {
        // height: 50%;
        display: grid;
        justify-items: center;
        grid-template-rows: 1fr 5fr 1fr;
        grid-template-columns: 2fr 2fr 1.5fr 1.5fr 3fr;
        grid-template-areas: 
        'arrow arrow arrow arrow arrow'
        'design-services dev-services site contact newsletter'
        'copyright copyright copyright copyright copyright';
    }

    & p {
        font-size: .8em;
    }
}

#up-arrow {
    height: 35px;
    width: 35px;
    fill: rgba(177, 177, 177, 0.904);
    grid-area: arrow;
    margin: auto;
    transition: animation 500ms ease-in;
    animation: enlarge 500ms ease infinite alternate;
    @include media-query ($md) {
        height: 45px;
        width: 45px;
    }
}

#up-arrow:hover {
    cursor: pointer;
    fill: white;
}

.footer-design {
    grid-area: design-services;
    @include media-query ($md, $lg) {
        margin-left: -1em;
    }
    @include media-query ($lg) {
        margin-left: -3em;
    }
}

.footer-dev {
    grid-area: dev-services;
}

.footer-site {
    grid-area: site;
}

.footer-contact {
    grid-area: contact;
    padding-right: .75em;
}

.footer-newsletter {
    grid-area: newsletter;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items:center;
    @include media-query ($md) {
        display: block;
        align-self: auto;
    }
    h4 {
        font-size: .8em;
        width: max-content;
        @include media-query ($md) {
            max-width: 347.5px;
            color: $white-opacity;
        }
    }
}

.footer-design, .footer-dev, .footer-contact, .footer-site .footer-title {
    display: none;
    @include media-query ($md) {
        display: block;
    }
}

.footer-title {
    padding: .7em 0;
    color: white;
    font-size: 1.1em;
}

.footer-site p {
    color: white;
    font-size: 1.2em !important;
    text-transform: uppercase;
    border-bottom: 1px solid $white-opacity;
    line-height: 2.5;
    @include media-query($md) {
        color: $white-opacity;
        font-size: .8em !important;
        border: none;
        text-transform: initial;
        line-height: initial;
    }
}

.newsletter-container {
    width: 100%;
    max-width: 18em;
    height: 45px;
    background: #f1f1f199;
    border-radius: 40px;
    position: relative;
    margin: 1em 0 3em;

    @include media-query ($md) {
        margin: 2em 0;
        height: 60px;
    }
    input {
        width: 100%;
        height: 45px;
        border-radius: inherit;
        border: 0;
        background: none;
        outline: none;
        font-size: .8em;
        padding: 0 52.5px 2px 17.5px;
        @include media-query ($md) {
            height: 60px;
        }
        @include media-query ($lg) {
            padding-left: 22.5px;
        }
    }
    button {
        position: absolute;
        right: 4px;
        top: 3.75px;
        width: 37.5px;
        height: 37.5px;
        outline: none;
        border: 0;
        border-radius: 50%;
        background-color: $brand-color-blue;
        cursor: pointer;
        color: #fff;
        transition: 0.4s ease-out;
        overflow: hidden;
        @include media-query ($md) {
            right: 7.5px;
            top: 7.5px;
            width: 45px;
            height: 45px;
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: $brand-color-green;
            transition: background-color .75s ease-in-out, transform .5s ease-in-out;
        }
    }
    button:hover {
        opacity: 0.75;
        &:after {
            transform: translateX(100%);
            background-color: $brand-color-blue;
        }
    }
    #news-field-status {
        opacity: 0;
        pointer-events: none;
        // width: 100%;
        // height: 60px;
        transition: opacity 1s ease-in;
    }
    #news-form-status {
        // background-color: grey;
        text-align: center;
        padding: 1em;
        margin: 1em;
        // box-shadow: 5px 5px 5px #4b4b4bf6;
    }
    // i {
    //     position: absolute;
    //     top: 25px;
    //     right: 10px;
    //     transform: translate(-125%, 10%);
    //     pointer-events: none;
    // }
}

.footer-info {
    grid-area: copyright;
    align-self: center;
    text-align: center;
    padding-bottom: .5em;
    h5 {
        padding-top: 1.25em;
        @include media-query ($md) {
            // padding-top: 0;
        }
    }
    h5, h6 {
        color: white;
        @include media-query ($md) {
            display: inline-block !important;
            font-size: .75em;
        }
    }
    .info-separator {
        display: none;
    }
}
  
@keyframes enlarge {
    0% {
        transform: scale(1) translateY(2.5px);
    }
    100% {
        transform: scale(1.2) translateY(-1.5px);
    }
}