#footer {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $footer;
    background-image: url(/assets/footer-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    color: $white-opacity;
    @include padding-map ($content-wrap-hr);
    @include media-query ($md) {
        display: grid;
        justify-items: center;
        // margin-top: 10%;
        // grid-template-rows: 1fr 5fr 4fr 1fr;
        grid-template-columns: 2fr 2fr 1.5fr 2.5fr;
        grid-template-areas: 
        'arrow arrow arrow arrow'
        'news dev-services design-services site'
        'social map map logo'
        'info info info info';
    }
    p {
        font-size: .7em;
        @include media-query ($md) {
            line-height: 1.4em;
        }
    }
    p:hover {
        cursor: default;
        color: #fff;
    }
}

.arrow-up {
    height: 20px;
    width: 20px;
    fill: rgba(177, 177, 177, 0.904);
    grid-area: arrow;
    margin: .5em auto;
    transition: animation 500ms ease-in;
    // animation: enlarge 500ms ease infinite alternate;
    @include prefixes (animation, enlarge 500ms ease infinite alternate);
    @include media-query ($md) {
        height: 25px;
        width: 25px;
    }
}

.arrow-up:hover {
    cursor: pointer;
    fill: white;
}

.footer-title {
    text-transform: uppercase;
    color: white;
    padding-bottom: .25em;
    @include media-query ($md) {
        font-size: .9em;
        padding-bottom: .7em;

    }
}

#footer-design {
    grid-area: design-services;
}

#footer-dev {
    grid-area: dev-services;
}

#footer-site {
    grid-area: site;
}

#footer-newsletter {
    grid-area: news;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items:center;
    padding-top: 1.5em;
    @include media-query ($md) {
        display: block;
        align-self: auto;
        padding-top: 0;
    }
    h4 {
        font-size: .8em;
        width: max-content;
        @include media-query ($md) {
            max-width: 347.5px;
            color: $white-opacity;
        }
    }
}

.newsletter-container {
    width: 100%;
    max-width: 18em;
    height: 45px;
    background-color: #c2c2c2;
    color: black;
    border-radius: 40px;
    position: relative;
    margin: 1em 0 3.1em;
    @include media-query ($md) {
        margin: 2em 0;
        height: 60px;
    }
    input {
        width: 100%;
        height: 45px;
        border-radius: inherit;
        border: 0;
        background: none;
        color: #000;
        outline: none;
        font-size: .8em;
        padding: 0 52.5px 2px 17.5px;
        @include media-query ($md) {
            height: 60px;
        }
        @include media-query ($lg) {
            padding-left: 22.5px;
        }
        &::-webkit-input-placeholder {
            color:    #555;
        }
        &:-moz-placeholder {
           color:    #555;
           opacity:  1;
        }
        &::-moz-placeholder {
           color:    #555;
           opacity:  1;
        }
        &:-ms-input-placeholder {
           color:    #555;
        }
        &::-ms-input-placeholder {
           color:    #555;
        }
        &::placeholder {
           color:    #555;
        }
    }
    button {
        position: absolute;
        right: 7px;
        top: 6.5px;
        width: 32.5px;
        height: 32.5px;
        outline: none;
        border: 0;
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer;
        transition: opacity 0.75s ease-out;
        overflow: hidden;
        box-shadow: -.75px -.75px 2px .5px rgba(243,243,243,.945),1px 1.3px 2px 1px rgba(141,141,141,.925);
        @include user-select;
        -webkit-tap-highlight-color: transparent;
        @include media-query ($md) {
            right: 7.5px;
            top: 7.5px;
            width: 45px;
            height: 45px;
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: $brand-color-green;
            transition: background-color .75s ease-in-out, transform .5s ease-in-out;
        }
    }
    button:hover {
        // opacity: 0.75;
        &:before {
            -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
            transform: translateX(100%);
            background-color: $brand-color-blue;
        }
    }

    button:hover > #arrow-right-news {
        fill: #fff;
    }
}

#news-field-status {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in;
}
#news-form-status {
    text-align: center;
    padding: 1em;
    margin: 1em;
}

#arrow-right-news {
    height: 1.25em;
    width: 1.25em;
    padding: .1em 0 0 .3em;
    fill: $footer;
    z-index: 2;
    position: relative;
    transition: fill 1s ease;
    @include media-query ($md) {
        height: 1.85em;
        width: 1.85em;
    }
}

#footer-design, #footer-dev, #footer-site .footer-title {
    display: none;
    @include media-query ($md) {
        display: block;
    }
}

#footer-social, #footer-logo, #footer-map {
    @include media-query ($md) {
        padding-top: 1.5em;
    }
}

#footer-site p {
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    border-bottom: 1px solid fade-out($nav-light, .125);
    line-height: 2.5;
    @include media-query($md) {
        color: $white-opacity;
        font-size: .7em;
        border: none;
        text-transform: initial;
        line-height: initial;
        line-height: 1.6em;
    }
}

#footer-logo {
    display: none;
    @include media-query ($md) {
        display: block;
        grid-area: logo;
        #brand-desktop-svg {
            width: 150px;
            .brand-blue {
                fill: #fff;
            }
            .brand-green {
                fill: #2fc0bb;
            }
        }
    }
}

#footer-map {
    display: none;
    @include media-query ($md) {
        padding-bottom: .75em;
        display: block;
        grid-area: map;
        align-self: center;
        img {
            min-width: 400px;
            width: 80%;
        }
    }
}

#map-wrapper {
    width: min-content;
    position: relative;
}

#footer-map svg {
    position: absolute;
    height: 1.15em;
    // width: 1.15em;
    z-index: 1;
    fill: $map-red;
    transition: fill .5s ease, transform .5s ease, transform-origin .5s ease, z-index .5s ease; 
}

#footer-map svg:hover {
    fill: $brand-negative-green;
    cursor: pointer;
    -webkit-transform: scale(1.75);
    transform: scale(1.75);
    transform-origin: 50% 100%;
    z-index: 2;
}


#map-wrapper > div {
    position: absolute;
    z-index: 2;
    font-size: 0.75em;
    padding: .5em .5em .4em;
    border-radius: 0.2em;
    background-color: $map-red;
    box-shadow: $message-strong;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: .5s opacity ease 0.25s;
}

#footer-location-us {
    top: 25.5%;
    left: 23%;
}
#footer-location-arg {
    bottom: 13%;
    left: 20.5%;
}
#footer-location-uru {
    bottom: 15.95%;
    left: 23.85%;
}

#footer-location-us:hover ~ #location-us-info {
    opacity: 1!important;
    pointer-events: all;
}
#footer-location-arg:hover ~ #location-arg-info {
    opacity: 1!important;
    pointer-events: all;
}
#footer-location-uru:hover ~ #location-uru-info {
    opacity: 1!important;
    pointer-events: all;
}

#location-us-info {
    top: -10%;
    left: 24%;
    .arrow-down {
        bottom: -14%;
        left: 0;
    }
}
#location-arg-info {
    left: 0%;
    bottom: 37.5%;
    .arrow-down {
        right: 0;
        bottom: -16%;
    }
}
#location-uru-info {
    left: 25%;
    bottom: 39%;
    .arrow-down {
        bottom: -15%;
        left: 0;
    }
}

#map-wrapper .arrow-down {
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: .5em solid transparent;
    border-right: .5em solid transparent;
    border-top: .5em solid $map-red;
}

#footer-social {
    padding-top: 1.5em;
    align-self: center;
    svg {
        margin: 0 .75em;
        height: 1.5em;
        width: 1.5em;
        fill: white;
        @include media-query ($md) {
            margin: 0 .5em;
        }
    }
    @include media-query ($md) {
        grid-area: social;
        align-self: auto;
        // padding-top: 0;
    } 
}

#footer-info {
    grid-area: info;
    align-self: center;
    text-align: center;
    padding-bottom: .875em;
    width: 100%;
    @include media-query ($md) {
        padding-bottom: 0;
        align-self: flex-end;
        border-top: .12em solid fade-out($nav-light, .17);
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
    }
    h5 {
        padding-top: 1.25em;
        @include media-query ($md) {
            padding: 1.25em 0 1.15em;
        }
    }
    h5, h6 {
        color: white;
        @include media-query ($md) {
            display: inline-block !important;
            font-size: .75em;
        }
    }
    .info-separator {
        display: none;
    }
}

.message-error-news {
    box-shadow: $message-strong;
    background-color: $error;
    border-radius: 9px;
}

.message-success {
    box-shadow: $message-light;
    background-color: $success;
    border-radius: 9px;
}

.button-mask-safari {
    border: .2px solid #978a8a!important;
    -webkit-mask-image: -webkit-radial-gradient(rgba(243,243,243,.945), rgba(141,141,141,.925));
    -webkit-filter: drop-shadow(1px 1px 1.75px rgba(0, 0, 0, .5));
}

@-webkit-keyframes enlarge {
    0% {
        -webkit-transform: scale(1) translateY(2.5px);
        -ms-transform: scale(1) translateY(2.5px);
        transform: scale(1) translateY(2.5px);
    }
    100% {
        -webkit-transform: scale(1.2) translateY(-1.5px);
        -ms-transform: scale(1.2) translateY(-1.5px);
        transform: scale(1.2) translateY(-1.5px);
    }
}
@keyframes enlarge {
    0% {
        -webkit-transform: scale(1) translateY(2.5px);
        -ms-transform: scale(1) translateY(2.5px);
        transform: scale(1) translateY(2.5px);
    }
    100% {
        -webkit-transform: scale(1.2) translateY(-1.5px);
        -ms-transform: scale(1.2) translateY(-1.5px);
        transform: scale(1.2) translateY(-1.5px);
    }
}