// :root {
//     --gradient: linear-gradient(
//       45deg,
//       #845ec2,
//       #d65db1,
//       #ff6f91,
//       #ff9671,
//       #ffc75f,
//       #f9f871
//       );
//     --gradient2: linear-gradient(to top, #df3d3d, #dd5a43, #ec8a4f );
//     --gradient3: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
//     --gradient4: linear-gradient(90deg, #2BD286 0%, #08AEEA 100%);
// }

#section-hero {
    min-height: 100%;
    text-align: center;
    @include padding-map($content-wrap-lg);
    @include media-query( 0, $md) {
        padding-top: 3.25em!important;
    }

    @include grid-map($grid-list) {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

.hero {
    color: white;
    justify-self: center;
    // border: 2px solid black;
    // @include media-query($md){
        // width: 90%;
        // justify-self: left;
    // }

    // @include media-query ($lg) {
    //     justify-self: center;
    // }
}

.hero.hero-text {
    grid-area: hero-left;
    transition: .55s color ease;
    @include media-query($md) {
        width: 90%;
    }
    h1 {
        padding-bottom: .3em;
        margin: 0 auto;
        text-align: left;
        white-space: nowrap;
        letter-spacing: -3px;
        font-size: 4em;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        @include media-query ($md) {
            margin: 0;
            font-size: 4em;
        }
        @include media-query ($lg) {
            font-size: 4.25em;
        }
        @include media-query ($xl) {
            font-size: 4.75em;
        }
        @include media-query ($xxl) {
            font-size: 5em;
        }
        @include media-query ($fhd) {
            font-size: 6.5em;
        }
    }
    h2 {
        letter-spacing: -1px;
        @include font-size-map($title-font-size);
        @include media-query ($md) {
            padding-bottom: 2em;
            white-space: nowrap;
        }
    }
}

.hero.hero-img {
    grid-area: hero-right;
    text-align: center;
    align-self: center;
    z-index: -1;
    position: relative;
    @include media-query ($md, $lg) {
        justify-self: center;
    }
    .icon-facebook {
        height: 200px;
        width: 200px;
        fill: pink;
        display: block;
        margin: 0 auto;
    }
}

#section-hero .icon-whatsapp {
    height: 3em;
    position: absolute;
    bottom: 3%;
    right: 2%;
    position: fixed;
    z-index: 1;
    transition: filter .75s ease;
    filter: drop-shadow(1px 1px 3px rgba(107, 124, 141, .75));
    &:hover {
        filter: drop-shadow(1.5px 1.5px 6px rgb(107, 124, 141, .7)) contrast(115%);
        cursor: pointer;
    }
}

#span-we {
    padding: 0 .2em;
    padding-left: .3em;
    transition: text-shadow 500ms ease;
    display: inline-block;
    @include media-query ($xs) {
        padding-left: .2em;
    }
    @include media-query ($sm) {
        padding-left: .15em;
    }
    @include media-query($md) {
        padding-left: 0;
    }
}

#span-words {
    display: inline-block;
    opacity: 0;
}

.inner-span {
    border-right: .035em solid #000;
    min-width: 2px;
    -webkit-animation: blink-anim 1000ms ease infinite running 200ms;
    -moz-animation: blink-anim 1000ms ease infinite running 200ms;
    -o-animation: blink-anim 1000ms ease infinite running 200ms;
    animation: blink-anim 1000ms ease infinite running 200ms;
}

.text-highlight {
    text-shadow: 2px 2px 2px #343434, 2px 2px 10px #000;
}

.hero-text-opacity {
    color: $black-opacity;
}


#hero-cta {
    position: relative;
    // left: 50%;
    // transform: translateX(-50%);
    padding: .7em 1.35em;
    background-color: transparent;
    color: $site-background-dark;
    font-size: 1.5em;
    border-radius: 1.5em;
    margin-top: 1em;
    border: none;
    box-shadow: 3px 2px 5px rgb(8, 18, 26), 1px 0 3px 1px rgb(208, 214, 219);
    p {
        text-shadow: 1px 1px 1.8px #000;
    }
    &:hover {
        cursor: pointer;
    }
}

#hero-cta p::after {
    content: "";
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 1.5em;
    background-image: $btn-gradient;
    background-size: 100%;
    background-position: left;
    transition: transform 0.3s, opacity 0.4s;
  }
  
  #hero-cta:hover > p::after {
    transform: scale(1.3);
    opacity: 0;
  }


@-webkit-keyframes blink-anim {
    0% {
        border-right-color: #000;
    }
    100% {
        border-right-color: transparent;
    }
}

@keyframes blink-anim {
    0% {
        border-right-color: #000;
    }
    100% {
        border-right-color: transparent;
    }
}