// div burger menu
.burger {
    height: 40px;
    width: 40px;
    cursor: pointer;
    z-index: 6;

    @include media-query ($sm, $md) {
        height: 44px;
        width: 44px;
    }
    @include media-query ($md) {
        display: none;
  }

  & div {
    position: relative;
    top: 11.2%;
    left: 16%;
    width: 70%;
    height: 2.5px;
    margin: 6px 0;
    background-color: white;
    border-radius: 3px;
    transition: 0.3s ease-in-out;

    @include media-query ($sm, $md) {
        top: 15%;
        left: 15%;
    }
  }
}

//section navbar
#navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 3.25em;
    transition: background-color .75s ease, box-shadow .8s ease;

    @include media-query (){
        @include padding-map($content-wrap-hr);
    }
}

// svg brand img
nav img {
    height: 100%;
    transition: opacity .5s ease;
    width: 120px;
}

#brand-desktop {
    // display: none;
    @include media-query ($md) {
        // display: initial;
        width: 150px;
    }
}

// #brand-mobile {
//     @include media-query ($md) {
//         display: none;
//     }
// }

// ul nav-list 
nav {
    display: flex;
    justify-content: space-between;
    // width: 95%;
    padding: 0 1.2em;
    height: 100%;
    align-items: center;
    border-bottom: .12em solid $nav-light;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

.nav-list {
    list-style-type: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    transition: all 1s ease;

    @include media-query ($md) {
        position: initial;
        justify-content: flex-end;
        flex-direction: row;
        height: 100%;
        transform: translateX(0);
        transition-property: none;
        background-color: transparent;
        // color: white;
    }
    & li {
        text-transform: uppercase;
        margin: 1.5em 1.5em;
        padding: .75em;

        @include media-query($sm) {
            margin: .5em 1em;
        }

        @include media-query ($md) {
            margin: .75em;
            padding: 0;
        }  
    }
    & li:first-child {
        margin-top: 2.5em;

        @include media-query ($md) {
            margin: .75em;
        }
    }
}

.nav-list a {
    text-decoration: none;
    color: black;
    transition: color .75s ease, text-shadow .75s ease;

    @include media-query ($md) {
        color: white;
        position: relative;
        // text-shadow: 1px 1px 1.8px #515457e8;

        &:hover {
           color: rgb(255, 255, 255);
           text-shadow: 1px 1px 1.8px rgb(0, 0, 0);
        }

        &:before {
            content: "";
            position: absolute;
            width: 0;
            height: 1.75px;
            bottom: -7.5%;
            right: 50%;
            transition: width .5s ease;
        }

        &:after { 
            content: "";
            position: absolute;
            width: 0;
            height: 1.75px;
            bottom: -7.5%;
            left: 50%;
            transition: width .5s ease;
        }
    }
}

.anchor-white:hover {
    color: black!important;
    text-shadow: 1px 1px 1.8px rgb(175, 175, 175)!important;
}

.underline-white:before, .underline-white:after {
    background-color: rgb(255, 255, 255);
}

.underline-black:before, .underline-black:after {
    background-color: rgb(0, 0, 0);
}

.navigation-container {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transition: all .5s ease;
    transform: translateX(100%);
    position: fixed;
}

.navigation-color-white {
    width: 100%;
    height: 3.25em;
    background-color: transparent;
    position: fixed;
    transition: .5s ease;
}

.navigation-overlay-black {
    width: 100%;
    height: 3.25em;
    position: fixed;
    transition: background-color .5s ease;
}

// Style classes
.open {
    opacity: 1;
    pointer-events: all;
}

.cross .line-top {
    transform: rotate(45deg) translate(5.8px, 6px);
    background-color: black;

}

.cross .line-middle {
    opacity: 0;
}

.cross .line-bottom {
    transform: rotate(-45deg) translate(6.5px, -7px);
    background-color: black;
}

.nav-link-anim {
    animation: navLinksAnim .125s ease-out forwards;
}

.visible {
    opacity: 1;
}

.invisible {
    opacity: 0;
}

.logo-index {
    z-index: -1;
    opacity: 10%;
}

.nav-white#navbar {
    background-color: white;
    box-shadow: 12px 2px 8px 0px rgb(0, 0, 0);
}

.nav-no-border {
    border-bottom: none;
}

.nav-white nav a {
    color: black;
}

.nav-white .burger div {
    background-color: black;
}

.navigation-white {
    background-color: white;
    z-index: 1;
}

.navigation-black {
    z-index: 1;
    background-color: $black-opacity;
}

.translate {
    transform: translateX(0%);
}

.translate .nav-list {
    transform: translateX(0%);
}

// Animations
@keyframes navLinksAnim {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}