// section navigation
.navigation-container {
    height: 100%;
    width: 100%;
    // position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    transition: transform .5s ease;
    transform: translateX(100%);
    position: fixed;
}

.navigation-white-back {
    width: 100%;
    height: 3.25em;
    background-color: transparent;
    position: fixed;
    transition: .5s ease-in;
}

.navigation-shadow {
    width: 100%;
    height: 3.25em;
    position: fixed;
    transition: box-shadow .35s ease;
    z-index: 1;
}

//section navbar
#section-navbar {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 3.25em;
    transition: background-color .35s ease-in, box-shadow .35s ease-in;
    @include media-query (){
        @include padding-map($content-wrap-hr);
    }
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 1.2em;
    height: 100%;
    align-items: center;
    border-bottom: .12em solid $nav-light;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    transition: border .5s ease;
}

.nav-list {
    list-style-type: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    transition: transform 1s ease;
    opacity: 0;
    @include media-query ($md) {
        position: initial;
        justify-content: flex-end;
        flex-direction: row;
        height: 100%;
        transform: translateX(0);
        transition-property: none;
        background-color: transparent;
        opacity: 1;
    }
    & li {
        text-transform: uppercase;
        margin: 1.5em 1.5em;
        padding: .75em;
        @include media-query($sm) {
            margin: .5em 1em;
        }
        @include media-query ($md) {
            margin: .75em;
            padding: 0;
        }  
    }
    & li:first-child {
        margin-top: 2.5em;
        @include media-query ($md) {
            margin: .75em;
        }
    }
}

.nav-list a {
    text-decoration: none;
    color: #000;
    transition: color .75s ease, text-shadow .75s ease;
    @include media-query ($md) {
        color: #fff;
        position: relative;
        &:hover {
           color: rgb(255, 255, 255);
           text-shadow: 1px 1px 1.8px rgb(0, 0, 0);
        }
        &:before {
            content: "";
            position: absolute;
            width: 0;
            height: 1.75px;
            bottom: -7.5%;
            right: 50%;
            transition: width .5s ease;
        }
        &:after { 
            content: "";
            position: absolute;
            width: 0;
            height: 1.75px;
            bottom: -7.5%;
            left: 50%;
            transition: width .5s ease;
        }
    }
}

.anchor-white:hover {
    color: #000!important;
    text-shadow: 1px 1px 1.8px rgb(175, 175, 175)!important;
}

.underline-white:before, .underline-white:after {
    background-color: rgb(255, 255, 255);
}

.underline-black:before, .underline-black:after {
    background-color: rgb(0, 0, 0);
}

// div burger menu
.burger {
    height: 100%;
    width: 65px;
    padding: 0 10px;
    margin-right: -15px;
    outline: 0;
    outline: none;
    cursor: pointer;
    @include media-query ($md) {
        display: none;
  }
  & div {
    position: relative;
    top: 11.2%;
    left: 16%;
    width: 70%;
    height: 2.5px;
    margin: 6px 0;
    background-color: #fff;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
    @include media-query ($sm, $md) {
        top: 15%;
        left: 15%;
    }
  }
}

// brand
#brand-mobile-svg {
    width: 3.5em;
    height: 3.5em;
    path {
        transition: fill .35s ease-in;
    }
}

#brand-desktop-svg {
    width: 10em;
    path {
        transition: fill .35s ease-in;
    }
}

// Style classes
.open {
    pointer-events: all;
}

.cross .line-top {
    transform: rotate(45deg) translate(4.92px, 6.1px);
    background-color: #000;

}

.cross .line-middle {
    opacity: 0;
}

.cross .line-bottom {
    transform: rotate(-45deg) translate(6px, -7px);
    background-color: #000;
}

.nav-link-anim {
    animation: navLinksAnim 125ms ease-out forwards;
}

.visible {
    opacity: 1;
}

.invisible {
    opacity: 0;
}

.logo-index {
    z-index: -1;
    opacity: 10%;
}

.nav-white {
    background-color: #fff;
}

.nav-white nav a {
    color: #000;
}

.nav-white .burger div {
    background-color: #000;
}

.nav-no-border {
    border-bottom-color: transparent;
}

.nav-white-back {
    background-color: #fff;
    // box-shadow: 12px 2px 8px 0px rgb(0, 0, 0);
    z-index: 0;
}

.nav-shadow {
    box-shadow: 12px 2px 8px 0px rgb(0, 0, 0);
}

.translate {
    transform: translateX(0%);
}

.translate .nav-list {
    transform: translateX(0%);
}

.brand-mobile-color {
    #letter-w {
        fill: #00416B;
    }
    #letter-e {
        fill: #00416B;
    }
    #shape-left {
        fill: #009889;
    }
    #shape-right {
        fill: #009889;
    }
}
.brand-mobile-negative {
    #letter-w {
        fill: #fff;
    }
    #letter-e {
        fill: #fff;
    }
    #shape-left {
        fill: #2fc0bb;
    }
    #shape-right {
        fill: #2fc0bb;
    }
}
.brand-desktop-color {
    #letter-w {
        fill: #00416B;
    }
    #letter-e {
        fill: #00416B;
    }
    #shape-left {
        fill: #009889;
    }
    #shape-right {
        fill: #009889;
    }
    #test-path {
        fill: #00416B;
    }
}
.brand-desktop-negative {
    #letter-w {
        fill: #fff;
    }
    #letter-e {
        fill: #fff;
    }
    #shape-left {
        fill: #2fc0bb;
    }
    #shape-right {
        fill: #2fc0bb;
    }
    #test-path {
        fill: white;
    }
}

// Animations
@keyframes navLinksAnim {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}