#section-portfolio {
    // @include padding-map ($content-wrap-sm);
    height: 100%;
    ul {
        // height: 500px;
        list-style: none;
        @include media-query ($md){
            background-color: $background-light;
            overflow: hidden;
            padding: 1em;
            width: 100%;
            height: 475px;
            margin-left: -.38em;
        }
    }
    li {
        height: 450px;
        @include media-query ($md) {
            height: 100%;
            position: relative;
            width: calc(20% - 2px);
            float: right;
            overflow-y: hidden;
        }
    }
}

.content-link {
    &:first-child {
        background-image: url("https://source.unsplash.com/850x450/?nature,sky");
    };
    &:nth-child(2) {
        background-image: url("https://source.unsplash.com/850x450/?nature,fire");
    };
    &:nth-child(3) {
        background-image: url("https://source.unsplash.com/850x450/?nature,stone");
    };
    &:nth-child(4) {
        background-image: url("https://source.unsplash.com/850x450/?nature,tree");
    };
    &:last-child {
        background-image: url("https://source.unsplash.com/850x450/?nature,light");
        border-left-color: #5c5c5c;
    }
    @include media-query ($md) {
        // background-image: url("https://source.unsplash.com/850x450/?nature,water");
        transition: width 0.45s ease;
        border-left: 2px solid #808080b7;
        box-shadow: 3px 4px 8px 1px #2b2b2b;
    }
    .link-overlay {
        @include media-query ($md) {
            width:100%;
            height:100%;
            // background-color: rgba(0, 128, 255, 0.459);
            transition: .55s ease background-color;

            &#overlay-1 {
                background-color: rgba($blue-theme-lighter, .4);
            };
            &#overlay-2 {
                background-color: rgba($blue-theme-light, .4);
            };
            &#overlay-3 {
                background-color: rgba($blue-theme-middle, .4);
            };
            &#overlay-4 {
                background-color: rgba($blue-theme-dark, .4);
            };
            &#overlay-5 {
                background-color: rgba($blue-theme-darker, .4);
            }

        }
    }
    .link-caption {
        @include media-query ($md) {
    
            position: absolute;
            bottom: 0;
            width: 100%;
            // background-color: blue;
            color: white;
            padding: 1.25em 2em;
            transform: translateY(100%);
            transition: transform .5s ease;
            h6 {
                font-weight: 400;
                padding-top: .2em;
            }

            &#caption-1 {
                background-color: darken($blue-theme-lighter, 12.5%);
            };
            &#caption-2 {
                background-color: darken($blue-theme-light, 5%);
            };
            &#caption-3 {
                background-color: $blue-theme-middle;
            };
            &#caption-4 {
                background-color: $blue-theme-dark;
            };
            &#caption-5 {
                background-color: $blue-theme-darker;
            }
        }
    }
}


.swiper-container {
    width: 100%;
    height: 450px;
    z-index: 0!important;
}

// Style Classes
.expanded {
    width: calc(30% - 2px)!important;
}

.expanded .link-overlay {
    background-color: transparent!important;
}

.show-caption {
    transform: translateY(0%)!important;
}

.contracted {
    width: calc(17.5% - 2px)!important;
}

// 
// 

// .destaques {
//     height: 425px;
//     margin: 0;
//     padding: 0;
//     color: #fff;
//     white-space: nowrap;
//     overflow: hidden;
//     width: 100%;
//     font-size: 0;
//     background: #ffffff;
//   }
//   .destaques-item {
//     transition: width 400ms, background-size 400ms;
//     display: inline-block;
//     vertical-align: top;
//     background: #ccc;
//     position: relative;
//     background-position: 50%;
//     width: 25%;
//     height: 100%;
//     overflow: hidden;
//   }
  
//   .destaques-item-highlight {
//     width: 40%;
//   }
//   .destaques-item-lowlight {
//     width: 20%;
//   }