#section-portfolio {
    // @include padding-map ($content-wrap-sm);
    height: 75%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // position: relative;

    ul {
        background-color: $background-light;
        list-style: none;
        overflow: hidden;
        padding: 1em;
        width: 100%;
        height: 475px;
        // height: 425px;
        // margin: 0;
        // padding: 0;
        // color: #fff;
        // white-space: nowrap;
        // overflow: hidden;
        // width: 100%;
        // font-size: 0;
        // background: #003469;
    }

    li {
        position: relative;
        width: calc(20% - 2px);
        height: 100%;
        float: right;
        overflow-y: hidden;
        // display: inline-block;
        // vertical-align: top;
//         -moz-transition: width 400ms, background-size 400ms;
//   -o-transition: width 400ms, background-size 400ms;
//   -webkit-transition: width 400ms, background-size 400ms;
//   transition: width 400ms, background-size 400ms;
//   display: inline-block;
//   vertical-align: top;
//   background: #ccc;
//   position: relative;
//   background-position: 50%;
//   width: 23%;
//   height: 100%;
//   overflow: hidden;
    }

    .content-link {
        // position: relative;
        background-image: url("https://source.unsplash.com/850x450/?nature,water");
        transition: width 0.45s ease;
        border-left: 2px solid #808080b7;
        box-shadow: 3px 4px 8px 1px #2b2b2b;
    }

    .link-overlay {
        width:100%;
        height:100%;
        background-color: rgba(0, 128, 255, 0.459);
        transition: .55s ease background-color;
    }

    .link-caption {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: blue;
        color: white;
        padding: 1.25em 2em;
        transform: translateY(100%);
        transition: transform .5s ease;

        h6 {
            font-weight: 400;
            padding-top: .2em;
        }
    }

    ul li:nth-child(5) {
        border-left: 2px solid #575757;
        border-left-color: #494848;
    }

    ul li:last-child {
        width: 0%!important;
        // width: 200px;
        // background-color: green;
        // border-left-color: #363636!important;
        // display: inline-block;
    }
}

// Style Classes
.expanded {
    width: 30%!important;
}

.expanded .link-overlay {
    background-color: transparent!important;
}

.show-caption {
    transform: translateY(0%)!important;
}

.contracted {
    width: 17.5%!important;
}

// 
// 

// .destaques {
//     height: 425px;
//     margin: 0;
//     padding: 0;
//     color: #fff;
//     white-space: nowrap;
//     overflow: hidden;
//     width: 100%;
//     font-size: 0;
//     background: #ffffff;
//   }
//   .destaques-item {
//     transition: width 400ms, background-size 400ms;
//     display: inline-block;
//     vertical-align: top;
//     background: #ccc;
//     position: relative;
//     background-position: 50%;
//     width: 25%;
//     height: 100%;
//     overflow: hidden;
//   }
  
//   .destaques-item-highlight {
//     width: 40%;
//   }
//   .destaques-item-lowlight {
//     width: 20%;
//   }