#preloader {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  background-color: #f0f2f5;
  z-index: 9999;
  transition: transform .775s ease-in-out;

  span {
    position: relative;
    display: block;
    top: 50%;
    bottom: 0;
    width: 10px;
    height: 5px;
    border-radius: 5px;
    transform: translateY(-50%);
    animation: preloader-anim 1.45s infinite ease-in-out;
    
    @for $i from 1 to 5 {
      &:nth-child(#{$i + 1}) {
        left: 5 * $i + px;
        animation-delay: 125 * $i + ms;
      }
    }
    &:nth-child(1) {
        background-color: $blue-theme-darker;
    }
    &:nth-child(2) {
        background-color: $blue-theme-dark;
    }
    &:nth-child(3) {
        background-color: $blue-theme-middle;
    }
    &:nth-child(4) {
        background-color: $blue-theme-light;
    }
    &:nth-child(5) {
        background-color: $blue-theme-lighter;
    }
  }
}

#preloader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 75%;
  height: 70px;
}

#brand-preloader {
  width: 200px;
  flex: 1;
  .brand-blue {
      fill: #00416B;
  }
  .brand-green {
      fill: #009889;
  }
}

.span-container {
  display: flex;
  flex: 1;
}

// Style Classes
.translate-preloader {
  transform: translateY(-100%);
}

.fade-preloader {
  animation: fade-preloader-anim .75s forwards ease-in-out;
}

@keyframes preloader-anim {
  0% {
    height: 5px;
  }
  25% {
    height: 25px;
  }
  50%,100% {
    height: 5px;
  }
}

@keyframes fade-preloader-anim {
    0% {
        scale: (1);
        transform: skew(0);
    }
    25% {
        scale: (0.5, 0.9);
    }
    50% {
        scale: (0.1, 0.7);
    }
    75% {
        scale: (0, 0.3);
    }
    100% {
        scale: (0);
        transform: skew(-6deg, 12deg);
    }
}