// $initColor: rgba(0,0,0,0.1);
$colorEnd: #3498db;
$initColor: gray;

#preloader {
//   position: relative;
//   margin: 6em auto;
  width: 65px;
//   background-color: rgb(133, 133, 133);
  background-color: #f0f2f5;

z-index: 9999;
position: fixed;
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
transition: transform .75s ease-in-out;

  span {
    position: relative;
    display: block;
    top: 50%;
    bottom: 0;
    width: 9px;
    height: 5px;
    border-radius: 5px;
    background: $initColor;
    transform: translateY(-50%);
    animation: preloader-anim 1.5s infinite ease-in-out;
    
    @for $i from 1 to 5 {
      &:nth-child(#{$i + 1}) {
        left: 5 * $i +px;
        animation-delay: 125 * $i +ms;
      }
    }

    &:nth-child(1) {
        background-color: $blue-theme-darker;
    }
    &:nth-child(2) {
        background-color: $blue-theme-dark;
    }
    &:nth-child(3) {
        background-color: $blue-theme-middle;
    }
    &:nth-child(4) {
        background-color: $blue-theme-light;
    }
    &:nth-child(5) {
        background-color: $blue-theme-lighter;
    }

  }
}

#preloader-container {
    display: flex;
    justify-content: center;
    width: 50%;
    // height: 100%;
    height: 200px;
    align-self: center;
}

.translate-preloader {
    transform: translateY(-100%);
}

.fade-preloader {
    animation: fade-preloader-anim 1s forwards ease-in-out;
}

.test-class {
  animation: test-anim 1s forwards ease-in-out;
}

.test-class-svg {
  animation: test-anim-svg 1s backwards ease-in-out .1s;
}

.test-class-svg-2 {
  animation: test-anim-svg-2 1s forwards ease-in-out;
}
.test-class-svg-3 {
  animation: test-anim-svg-3 1.5s backwards ease-in-out .2s;
}

@keyframes preloader-anim {
  0% {
    height: 5px;
    // transform: translateY(0);
    // background-color: transparent;
  }
  25% {
    height: 25px;
    // transform: translateY(15px);
    // background: $colorEnd;
    // background-color: inherit;
  }
  50%,100% {
    height: 5px;
    // transform: translateY(0);
    // background: $initColor;
    // background-color: inherit;
  }
}

@keyframes fade-preloader-anim {
    0% {
        scale: 1;
    }
    25% {
        scale: 0.9;
    }
    50% {
        scale: 0.7;
    }
    75% {
        scale: 0.3;
    }
    100% {
        scale: 0.1;
    }
}

@keyframes test-anim {
  0% {
    transform: scale(1.1);
   }
   100% {
    transform: scale(1);
   }
 }

 @keyframes test-anim-svg {
  0% {
    transform: scale(1.1);
   }
   100% {
    transform: scale(1);
   }
 }
 @keyframes test-anim-svg-2 {
  0% {
    transform: scale(1.03);
   }
   100% {
    transform: scale(1);
   }
 }
 @keyframes test-anim-svg-3 {
  0% {
    transform: scale(1.1) rotate(10deg);
   }
   100% {
    transform: scale(1) rotate(0deg);
   }
 }