#section-projects-design {
    // @include padding-map ($content-wrap-sm);
    // height: 100%;
    ul {
        height: 100%;
        // width: 100%;
        // width: 375px;
        list-style: none;
        @include media-query ($md){
            background-color: $background-light;
            overflow: hidden;
            width: 100%;
            height: 450px;
            // padding: 1em;
            // margin-left: -.38em;
        }
    }
    li {
        height: 450px;
        // width: 375px;
        @include media-query ($md) {
            height: 100%;
            position: relative;
            width: calc(20% - 2px);
            // float: right;
            // display: inline-block;
            overflow-y: hidden;
        }
    }
}

.content-link {
    // width: 350px;
    // width: 100%;
    &:first-child {
        background-image: url("https://source.unsplash.com/850x450/?nature,sky");
    };
    &:nth-child(2) {
        background-image: url("https://source.unsplash.com/850x450/?nature,fire");
    };
    &:nth-child(3) {
        background-image: url("https://source.unsplash.com/850x450/?nature,stone");
    };
    &:nth-child(4) {
        background-image: url("https://source.unsplash.com/850x450/?nature,tree");
    };
    &:last-child {
        background-image: url("https://source.unsplash.com/850x450/?nature,light");
        border-left-color: #5c5c5c;
    }
    @include media-query ($md) {
        // background-image: url("https://source.unsplash.com/850x450/?nature,water");
        transition: width 450ms ease!important;
        border-left: 2px solid #808080b7;
        box-shadow: 3px 4px 8px 1px #2b2b2b;
    }
    .link-overlay {
        @include media-query ($md) {
            width:100%;
            height:100%;
            // background-color: rgba(0, 128, 255, 0.459);
            transition: .55s ease background-color;

            &#overlay-1 {
                background-color: rgba($blue-theme-darker, .4);
            };
            &#overlay-2 {
                background-color: rgba($blue-theme-dark, .4);
            };
            &#overlay-3 {
                background-color: rgba($blue-theme-middle, .4);
            };
            &#overlay-4 {
                background-color: rgba($blue-theme-light, .4);
            };
            &#overlay-5 {
                background-color: rgba($blue-theme-lighter, .4);
            }
        }
    }
    .link-caption {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white;
        padding: 1.25em 2em;
        &#caption-1 {
            background-color: $blue-theme-darker;
        };
        &#caption-2 {
            background-color: $blue-theme-dark;
        };
        &#caption-3 {
            background-color: $blue-theme-middle;
        };
        &#caption-4 {
            background-color: darken($blue-theme-light, 5%);
        };
        &#caption-5 {
            background-color: darken($blue-theme-lighter, 12.5%);
        }
        h6 {
            font-weight: 400;
            padding-top: .2em;
        }
        @include media-query ($md) {
            transform: translateY(100%);
            transition: transform 500ms ease;
        }
    }
}

.swiper-container {
    height: 450px;
    z-index: 0!important;
    @include media-query ($md) {
        width: 95%;
    }
}

// 
.right-arrow-container {
    // width: 25px;
    // height: 25px;
    // background-color: rgba(255, 0, 0, 0.144);
    position: absolute;
    top: 50%;
    right: 2em;
    z-index: 9999;
    transform: translateY(-50%);
    svg {
        height: 40px;
        width: 40px;
        // transform: rotate(90deg);
    }
}

#right-arrow-1 {
    fill: $blue-theme-dark;
    grid-area: arrow;
    // margin: auto;
    transition: animation 500ms ease, opacity 500ms ease;
    position: relative;
    right: -40px;
    opacity: 0;
    // animation: swipe-right 1.25s ease infinite running .25s;
}


#right-arrow-2 {
    fill: $blue-theme-middle;
    grid-area: arrow;
    // margin: auto;
    transition: animation 500ms ease, opacity 500ms ease;
    position: relative;
    right: -20px;
    opacity: 0;
    // animation: swipe-right 1.25s ease infinite running .125s;
}


#right-arrow-3 {
    fill: $blue-theme-light;
    grid-area: arrow;
    // margin: auto;
    transition: animation 500ms ease, opacity 500ms ease;
    position: relative;
    // right: 15px;
    // animation: swipe-right 1.25s ease infinite running;
    opacity: 0;
}

.arrow-wave {
    -webkit-animation: arrow-wave-anim 1250ms ease infinite running;
    -moz-animation: arrow-wave-anim 1250ms ease infinite running;
    -o-animation: arrow-wave-anim 1250ms ease infinite running;
    animation: arrow-wave-anim 1250ms ease infinite running;
    opacity: 1!important;
}

.arrow-slide {
    -webkit-animation: 500ms arrow-slide-anim ease forwards;
    -moz-animation: 500ms arrow-slide-anim ease forwards;
    -o-animation: 500ms arrow-slide-anim ease forwards;
    animation: 500ms arrow-slide-anim ease forwards;
    opacity: 1!important;
    // aca va cero TODO
}

@-webkit-keyframes arrow-wave-anim {
    0% {
        -webkit-transform: rotate3d(90deg, 0, 0) scale3d(1, 0, 0);
        transform: rotate3d(90deg, 0, 0) scale3d(1, 0, 0);
    }
    25% {
        -webkit-transform: rotate3d(90deg, 0, 0) scale3d(1.3, 0, 0) translate3d(0, 2.5px, 0);
        transform: rotate3d(90deg, 0, 0) scale3d(1.3, 0, 0) translate3d(0, 2.5px, 0);
    }
    50%, 75%, 100% {
        -webkit-transform: rotate3d(90deg, 0, 0) scale3d(1, 0, 0);
        transform: rotate3d(90deg, 0, 0) scale3d(1, 0, 0);
    }
}

@keyframes arrow-wave-anim {
    0% {
        -webkit-transform: rotate3d(90deg, 0, 0) scale3d(1, 0, 0);
        transform: rotate3d(90deg, 0, 0) scale3d(1, 0, 0);
    }
    25% {
        -webkit-transform: rotate3d(90deg, 0, 0) scale3d(1.3, 0, 0) translate3d(0, 2.5px, 0);
        transform: rotate3d(90deg, 0, 0) scale3d(1.3, 0, 0) translate3d(0, 2.5px, 0);
    }
    50%, 75%, 100% {
        -webkit-transform: rotate3d(90deg, 0, 0) scale3d(1, 0, 0);
        transform: rotate3d(90deg, 0, 0) scale3d(1, 0, 0);
    }
}

@-webkit-keyframes arrow-slide-anim {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(200%, 0, 0);
        transform: translate3d(200%, 0, 0);
    }
}

@keyframes arrow-slide-anim {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(200%, 0, 0);
        transform: translate3d(200%, 0, 0);
    }
}

// .swiper-button-next, .swiper-button-prev {
    //     outline: none;
    //     width: 25px;
    //     height: 25px;
    //     // background-color: red;
    //     position: absolute;
    //     top: 25%!important;
    //     // left: 100%;
    //     @include media-query ($md) {
    //         opacity: 0;
    //         pointer-events: none;
    //     }
    // }
    


// .swiper-button-next {
//     right: 2em!important;
// }
// .swiper-button-prev {
//     left: 2em!important;
// }

// .swiper-button-prev2 {
//     width: 25px;
//     height: 25px;
//     background-color: green;
//     position: absolute;
//     top: 50%;
//     left: 1em;
//     z-index: 9999;
// }


.swiper-pagination {
    bottom: 6em!important;
    position: relative;
    -moz-transform: translate3d(0px, -50%, 1px);
    -webkit-transform: translate3d(0px, -50%, 1px);
    transform: translate3d(0px, -50%, 1px);
}

// .swiper-pagination-bullet-active {
//     background-color: white!important;
//     transform: scale(1.5);
//     transition: background-color .5s ease, transform .5s ease;
// }

// Style Classes
.expanded {
    width: calc(30% - 2px)!important;
}

.expanded .link-overlay {
    background-color: transparent!important;
}

.show-caption {
    transform: translateY(0%)!important;
}

.contracted {
    width: calc(17.5% - 2px)!important;
}

// 
// 

// .destaques {
//     height: 425px;
//     margin: 0;
//     padding: 0;
//     color: #fff;
//     white-space: nowrap;
//     overflow: hidden;
//     width: 100%;
//     font-size: 0;
//     background: #ffffff;
//   }
//   .destaques-item {
//     transition: width 400ms, background-size 400ms;
//     display: inline-block;
//     vertical-align: top;
//     background: #ccc;
//     position: relative;
//     background-position: 50%;
//     width: 25%;
//     height: 100%;
//     overflow: hidden;
//   }
  
//   .destaques-item-highlight {
//     width: 40%;
//   }
//   .destaques-item-lowlight {
//     width: 20%;
//   }