#section-projects-design {
    ul {
        height: 100%;
        list-style: none;
        @include media-query ($md){
            background-color: $background-light;
            overflow: hidden;
            width: 100%;
            height: 450px;
            box-shadow: -1px 4px 4px -2px #0e0e0ead;
            margin-left: 2px;
        }
    }
    li {
        height: 450px;
        @include media-query ($md) {
            height: 100%;
            position: relative;
            width: calc(20% - 1px);
            overflow-y: hidden;
            transition: width 450ms ease;
            -moz-transition: width 450ms ease;
            -webkit-transition: width 450ms ease;
            -o-transition: width 450ms ease;
            border-left: 2px solid #000;
            box-shadow: 0 0 5px 2px rgba(0,0,0,.5);
        }
    }
}

.content-link {
    &:first-child {
        background-image: url("https://source.unsplash.com/850x450/?nature,sky");
        // z-index: 4;
        border-left-color: #404040;
    };
    &:nth-child(2) {
        background-image: url("https://source.unsplash.com/850x450/?nature,fire");
        // z-index: 3;
    };
    &:nth-child(3) {
        background-image: url("https://source.unsplash.com/850x450/?nature,stone");
        // z-index: 2;
    };
    &:nth-child(4) {
        background-image: url("https://source.unsplash.com/850x450/?nature,tree");
        // z-index: 1;
    };
    &:last-child {
        background-image: url("https://source.unsplash.com/850x450/?nature,light");
        // z-index: 0;
        // @include media-query ($md) {
        //     box-shadow: 3px 7px 5px -2.75px #0e0e0e!important;
        // }
    }
    .link-overlay {
        @include media-query ($md) {
            width:100%;
            height:100%;
            transition: .55s ease background-color;
            -moz-transition: .55s ease background-color;
            -webkit-transition: .55s ease background-color;
            -o-transition: .55s ease background-color;

            &#overlay-1 {
                background-color: rgba($blue-theme-darker, .4);
            };
            &#overlay-2 {
                background-color: rgba($blue-theme-dark, .4);
            };
            &#overlay-3 {
                background-color: rgba($blue-theme-middle, .4);
            };
            &#overlay-4 {
                background-color: rgba($blue-theme-light, .4);
            };
            &#overlay-5 {
                background-color: rgba($blue-theme-lighter, .4);
            }
        }
    }
    .link-caption {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white;
        padding: 1.25em 0 1.25em 1.5em;
        &#caption-1 {
            background-color: $blue-theme-darker;
            &:after {
                background-color: lighten($blue-theme-lighter, 5%);
            }
        };
        &#caption-2 {
            background-color: $blue-theme-dark;
            &:after {
                background-color: lighten($blue-theme-light, 5%);
            }
        };
        &#caption-3 {
            background-color: $blue-theme-middle;
            &:after {
                background-color: lighten($blue-theme-light, 5%);
            }
        };
        &#caption-4 {
            background-color: darken($blue-theme-light, 5%);
            &:after {
                background-color: lighten($blue-theme-dark, 2.5%);
            }
        };
        &#caption-5 {
            background-color: darken($blue-theme-lighter, 12.5%);
            &:after {
                background-color: lighten($blue-theme-darker, 5%);
            }
        }
        h6 {
            font-weight: 400;
            padding-top: .2em;
            // opacity: 0;
        }

        &:after {
            content: "";
            position: absolute;
            left: 1em;
            bottom: 1em;
            top: 1em;
            width: .25em;
        }

        @include media-query ($md) {
            transform: translateY(100%);
            transition: transform 500ms ease;
            -moz-transition: transform 500ms ease;
            -webkit-transition: transform 500ms ease;
            -o-transition: transform 500ms ease;
        }
    }
}

.swiper-container {
    height: 450px;
    z-index: 0!important;
    @include media-query ($md) {
        width: 99%;
        height: 460px;
    }
}

.right-arrow-container {
    position: absolute;
    top: 50%;
    right: 2em;
    z-index: 9999;
    transform: translateY(-50%);
    svg {
        height: 40px;
        width: 40px;
    }
    @include media-query ($md) {
        display: none;
    }
}

#right-arrow-1 {
    fill: $blue-theme-dark;
    grid-area: arrow;
    transition: animation 500ms ease, opacity 500ms ease;
    -moz-transition: animation 500ms ease, opacity 500ms ease;
    -webkit-transition: animation 500ms ease, opacity 500ms ease;
    -o-transition: animation 500ms ease, opacity 500ms ease;
    position: relative;
    right: -40px;
    opacity: 0;
}


#right-arrow-2 {
    fill: $blue-theme-middle;
    grid-area: arrow;
    transition: animation 500ms ease, opacity 500ms ease;
    -moz-transition: animation 500ms ease, opacity 500ms ease;
    -webkit-transition: animation 500ms ease, opacity 500ms ease;
    -o-transition: animation 500ms ease, opacity 500ms ease;
    position: relative;
    right: -20px;
    opacity: 0;
}


#right-arrow-3 {
    fill: $blue-theme-light;
    grid-area: arrow;
    position: relative;
    opacity: 0;
    transition: animation 500ms ease, opacity 500ms ease;
    -moz-transition: animation 500ms ease, opacity 500ms ease;
    -webkit-transition: animation 500ms ease, opacity 500ms ease;
    -o-transition: animation 500ms ease, opacity 500ms ease;
}

.swiper-pagination-bullet-active {
    transform: scale(1.75)!important;
    transition: transform .5s ease;
    -moz-transition: transform .5s ease;
    -webkit-transition: transform .5s ease;
    -o-transition: transform .5s ease;

    &:nth-child(1) {
        background-color: $blue-theme-darker!important;
    }
    &:nth-child(2) {
        background-color: $blue-theme-dark!important;
    }
    &:nth-child(3) {
        background-color: $blue-theme-middle!important;
    }
    &:nth-child(4) {
        background-color: $blue-theme-light!important;
    }
    &:nth-child(5) {
        background-color: $blue-theme-lighter!important;
    }
}

// Style Classes
.expanded {
    width: calc(30% - 1px)!important;
}

.expanded .link-overlay {
    background-color: transparent!important;
}

.overlay-transparent .link-overlay {
    background-color: transparent!important;
}

.show-caption {
    transform: translateY(0%)!important;
}

.contracted {
    width: calc(17.5% - 1px)!important;
}

.pagination-bottom {
    bottom: -2.25em!important;
}

.pagination-middle {
    bottom: 5em!important;
}

.dot-1 {
    background-color: $blue-theme-darker!important;
}
.dot-2 {
    background-color: $blue-theme-dark!important;
}
.dot-3 {
    background-color: $blue-theme-middle!important;
}
.dot-4 {
    background-color: $blue-theme-light!important;
}
.dot-5 {
    background-color: $blue-theme-lighter!important;
}

.arrow-wave {
    -webkit-animation: arrow-wave-anim 1250ms ease infinite running;
    -moz-animation: arrow-wave-anim 1250ms ease infinite running;
    -o-animation: arrow-wave-anim 1250ms ease infinite running;
    animation: arrow-wave-anim 1250ms ease infinite running;
    opacity: 1!important;
}

.arrow-slide {
    -webkit-animation: 500ms arrow-slide-anim ease forwards;
    -moz-animation: 500ms arrow-slide-anim ease forwards;
    -o-animation: 500ms arrow-slide-anim ease forwards;
    animation: 500ms arrow-slide-anim ease forwards;
    opacity: 0!important;
}

//Animations
@-webkit-keyframes arrow-wave-anim {
    0% {
        -webkit-transform: rotate(90deg) scale(1);
        transform: rotate(90deg) scale(1);
    }
    25% {
        -webkit-transform: rotate(90deg) scale(1.3) translateY(2.5px);
        transform: rotate(90deg) scale(1.3) translateY(2.5px);
    }
    50%, 75%, 100% {
        -webkit-transform: rotate(90deg) scale(1);
        transform: rotate(90deg) scale(1);
    }
}

@keyframes arrow-wave-anim {
    0% {
        -webkit-transform: rotate(90deg) scale(1);
        transform: rotate(90deg) scale(1);
    }
    25% {
        -webkit-transform: rotate(90deg) scale(1.3);
        transform: rotate(90deg) scale(1.3);
    }
    50%, 75%, 100% {
        -webkit-transform: rotate(90deg) scale(1);
        transform: rotate(90deg) scale(1);
    }
}

@-webkit-keyframes arrow-slide-anim {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    100% {
        -webkit-transform: translate(300%);
        transform: translate(300%);
    }
}

@keyframes arrow-slide-anim {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    100% {
        -webkit-transform: translate(300%);
        transform: translate(300%);
    }
}
