#section-projects-design {
    position: relative;
    @include media-query (0, $md) {
        overflow: hidden;
        padding-top: 25px;
        padding-bottom: 3em;
        z-index: -1;
    }
    @include o-media-query ($sm, $md, portrait) {
        padding-bottom: 6em;
    }
    ul {
        height: 100%;
        list-style: none;
        @include media-query ($md){
            background-color: $background-light;
            overflow: hidden;
            width: 100%;
            height: 450px;
            box-shadow: -1px 4px 4px -2px #0e0e0ead;
            box-shadow: -1px 4px 4px -2px rgb(107, 124, 141);
            border-radius: 20px;
            display: flex;
        }
        @include o-media-query ($sm, $md, portrait) {
            height: 580px;
        }
    }
    li {
        height: 100%;
        @include media-query ($md) {
            position: relative;
            width: calc(20% - 1px);
            overflow-y: hidden;
            transition: width 450ms ease;
            -moz-transition: width 450ms ease;
            -webkit-transition: width 450ms ease;
            -o-transition: width 450ms ease;
            border-left: 2px solid #000;
            // box-shadow: 0 0 5px 2px rgba(0,0,0,.5); 
            box-shadow: -0.5px 0 5px 1px rgba(0,0,0,.5); 
            // box-shadow: 0 0 5px 2px rgb(107, 124, 141);
            
            display: inline-block;
            flex-shrink: 0;
            &:hover {
                cursor: pointer;
            }
        }
    }
    h1 {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.content-link {
    overflow: hidden;
    &:first-child {
        border-left-color: #404040;
    }
    .link-overlay {
        @include media-query ($md) {
            width:100%;
            height:100%;
            transition: .55s ease background-color;
            -moz-transition: .55s ease background-color;
            -webkit-transition: .55s ease background-color;
            -o-transition: .55s ease background-color;
            position: absolute;
            top: 0;
        }
    }
    .link-caption {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white;
        padding: 1.25em 0 1.25em 1.5em;
        white-space: nowrap;
        h4 {
            @include media-query (0, $md) {
                font-size: 1.1em;
            }
        }
        h6 {
            padding-top: .2em;
            @include media-query (0, $md) {
                font-size: .8em;
            }
        }
        &::after {
            content: "";
            position: absolute;
            left: 1em;
            bottom: 1em;
            top: 1em;
            width: 3px;
            border-radius: 2px;
        }
        @include media-query ($md) {
            transform: translateY(100%);
            transition: transform 500ms ease;
            -moz-transition: transform 500ms ease;
            -webkit-transition: transform 500ms ease;
            -o-transition: transform 500ms ease;
        }
    }
}

#overlay-1 {
    background-color: rgba($blue-theme-darker, .4);
}
#overlay-2 {
    background-color: rgba($blue-theme-dark, .4);
}
#overlay-3 {
    background-color: rgba($blue-theme-middle, .4);
}
#overlay-4 {
    background-color: rgba($blue-theme-light, .4);
}
#overlay-5 {
    background-color: rgba($blue-theme-lighter, .4);
}

#caption-1 {
    background-color: $blue-theme-darker;
    &:after {
        background-color: lighten($blue-theme-lighter, 5%);
    }
}
#caption-2 {
    background-color: $blue-theme-dark;
    &:after {
        background-color: lighten($blue-theme-light, 5%);
    }
}
#caption-3 {
    background-color: $blue-theme-middle;
    &:after {
        background-color: lighten($blue-theme-light, 5%);
    }
}
#caption-4 {
    background-color: darken($blue-theme-light, 5%);
    &:after {
        background-color: lighten($blue-theme-dark, 2.5%);
    }
}
#caption-5 {
    background-color: darken($blue-theme-lighter, 12.5%);
    &:after {
        background-color: lighten($blue-theme-darker, 5%);
    }
}

.swiper-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.swiper-container {
    height: 380px;
    z-index: 0!important;
    padding-top: 50px!important;
    overflow: visible!important;
    margin: 0 auto;
    @include media-query($xs) {
        height: 430px;
    }
    @include media-query($sm) {
        height: 480px;
    }
    @include media-query ($md) {
        width: 99%;
        height: 540px;
        overflow: hidden;
    }
    @include o-media-query ($sm, $md, portrait) {
        height: 630px;
    }
}

.swiper-pagination {
    bottom: -2.25em!important;
    @include o-media-query ($sm, $md, portrait) {
        bottom: -5em!important;
    }
    @include media-query ($md) {
        display: none;
    }
}

.swiper-pagination-bullet-active {
    transform: scale(1.75)!important;
    transition: transform .5s ease;
    -moz-transition: transform .5s ease;
    -webkit-transition: transform .5s ease;
    -o-transition: transform .5s ease;

    &:nth-child(1) {
        background-color: $blue-theme-darker!important;
    }
    &:nth-child(2) {
        background-color: $blue-theme-dark!important;
    }
    &:nth-child(3) {
        background-color: $blue-theme-middle!important;
    }
    &:nth-child(4) {
        background-color: $blue-theme-light!important;
    }
    &:nth-child(5) {
        background-color: $blue-theme-lighter!important;
    }
    @include media-query ($md) {
        display: none;
    }
}

.right-arrow-container {
    position: absolute;
    top: 50%;
    right: 2em;
    z-index: 9999;
    transform: translateY(-50%);
    svg {
        height: 40px;
        width: 40px;
    }
    @include media-query ($md) {
        display: none;
    }
}

.right-arrow-container svg  {
    grid-area: arrow;
    transition: animation 500ms ease, opacity 500ms ease;
    -moz-transition: animation 500ms ease, opacity 500ms ease;
    -webkit-transition: animation 500ms ease, opacity 500ms ease;
    -o-transition: animation 500ms ease, opacity 500ms ease;
    position: relative;
    opacity: 0;
}

#arrow-right-1 {
    fill: $blue-theme-dark;
    grid-area: arrow;
    right: -40px;
}


#arrow-right-2 {
    fill: $blue-theme-middle;
    right: -20px;
}


#arrow-right-3 {
    fill: $blue-theme-light;
}


#modal {
    display: none;
    @include media-query($md) {
        display: block;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        height: 100%;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s ease-in-out;
    }
}

#modal-image {
    width: auto;
    display: block;
    height: 80%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    @include media-query ($md, $lg) {
        height: 65%;
    }
}

#modal-caption {
    position: relative;
    top: -10%;
    display: block;
    margin: auto;
    text-align: center;
    color: #ccc;
    font-size: 1.5em;
    margin-top: 0.3em;
}

.modal-image-container {
    position: relative;
    margin: 0 auto;
    width: intrinsic; 
    width: -moz-min-content;
    width: -webkit-min-content;
    width: min-content;
    height: 100%;
}

.modal-overlay-container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 80.2%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    @include media-query ($md, $lg) {
        height: 65.2%;
    }
}

#ie-container {
    height:100%;
    display: -ms-grid;
    -ms-grid-columns: min-content;
}

.modal-overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #171818;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#modal-close {
    position: absolute;
    fill: #ccc;
    top: 1em;
    right: 1.5em;
    z-index: 2;
    transition: opacity 0.5s ease-in, transform 0.3s ease;
    opacity: 0;
    height: 2.25em;
    width: 2.25em;
    padding: .5em;
}

#modal-close:hover {
    fill: #fff;
    text-decoration: none;
    cursor: pointer;
    transform: rotate(90deg);
}

#modal,
#modal-image,
#modal-caption,
.close,
#modal-arrow-right,
#modal-arrow-left {
    @include user-select;
}

#modal-arrow-right,
#modal-arrow-left {
    position: absolute;
    fill: #ccc;
    font-size: 4em;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s, opacity 0.5s ease-in;
    outline: none;
    height: .65em;
    width: .65em;
    top: 50%;
}

#modal-arrow-right {
    right: 10%;
}

#modal-arrow-left {
    left: 10%;
}

#modal-arrow-left:hover, #modal-arrow-right:hover {
    fill: #fff;
    transform: scale(1.2);
}



.visible {
    opacity: 1 !important;
    pointer-events: all !important;
}

.emerge {
    opacity: 1!important;
}

.not-allowed {
    opacity: 0.2 !important;
    cursor: not-allowed!important;
  }

// Style Classes
.expanded {
    width: calc(30% - 1px)!important;
}

.expanded .link-overlay {
    background-color: transparent!important;
}

.overlay-transparent .link-overlay {
    background-color: transparent!important;
}

.show-caption {
    transform: translateY(0%)!important;
}

.contracted {
    width: calc(17.5% - 1px)!important;
}

.pagination-middle {
    bottom: 5em!important;
}

.dot-1 {
    background-color: $blue-theme-darker!important;
}
.dot-2 {
    background-color: $blue-theme-dark!important;
}
.dot-3 {
    background-color: $blue-theme-middle!important;
}
.dot-4 {
    background-color: $blue-theme-light!important;
}
.dot-5 {
    background-color: $blue-theme-lighter!important;
}

.arrow-wave {
    -webkit-animation: arrow-wave-anim 1250ms ease infinite running;
    -moz-animation: arrow-wave-anim 1250ms ease infinite running;
    -o-animation: arrow-wave-anim 1250ms ease infinite running;
    animation: arrow-wave-anim 1250ms ease infinite running;
    opacity: 1!important;
}

.arrow-slide {
    -webkit-animation: 500ms arrow-slide-anim ease forwards;
    -moz-animation: 500ms arrow-slide-anim ease forwards;
    -o-animation: 500ms arrow-slide-anim ease forwards;
    animation: 500ms arrow-slide-anim ease forwards;
    opacity: 0!important;
}

//Animations
@-webkit-keyframes arrow-wave-anim {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.3) translateY(2.5px);
    }
    50%, 75%, 100% {
        transform: scale(1);
    }
}

@keyframes arrow-wave-anim {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.3);
    }
    50%, 75%, 100% {
        transform: scale(1);
    }
}

@-webkit-keyframes arrow-slide-anim {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(300%);
    }
}

@keyframes arrow-slide-anim {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(300%);
    }
}

@-webkit-keyframes emerge-anim {
    0% {
        transform: translateY(-50%) scale(0.3);
    }

    65% {
        transform: translateY(-50%) scale(1.2);
    }

    100% {
        transform: translateY(-50%) scale(1);
    }
}
  
@keyframes emerge-anim {
    0% {
        transform: translateY(-50%) scale(0.3);
    }

    65% {
        transform: translateY(-50%) scale(1.1);
    }

    100% {
        transform: translateY(-50%) scale(1);
    }
}

@-webkit-keyframes caption-emerge-anim {
    0% {
        transform: scale(0.3);
    }

    65% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
  
@keyframes caption-emerge-anim {
    0% {
        transform: scale(0.3);
    }

    65% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}