#svg-background {
    position: absolute;
    // top: 70%;
    bottom: -2px;
    left: 0;
    z-index: -1;
    // overflow: hidden;
    overflow-x: hidden;
    
    // transition: .5s ease;
    // height: 95%;
    @include media-query ($md) {
        // width: 100%;
        // max-width: 100%;
        // min-height: 90%;
        height: auto;
        bottom: -5px;
    }
}

#bg-image {
  height: 100%;
  width: 100%;
  position: absolute;
  // left: 0;
  // right: 0;
  background-image: linear-gradient(155deg, #001029, #003a58, #006985, #009ba9, #43cfc3);
  z-index: -1;
}

// SVG Styles
// .cls-1 {
//   fill: #fff;
// }
// TODO: check url (dist..)
// .cls-2 {
//   fill: url(#linear-gradient);
// }
// .cls-3 {
//   fill: url(#linear-gradient-2);
// }
// .cls-4 {
//   fill: url(#linear-gradient-3);
// }

.cls-1,
.cls-2 {
  fill: #fff;
}
.cls-2 {
  opacity: 0.5;
}