#bg-image {
    overflow: hidden;
}
#svg-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    
    // transition: .5s ease;
    height: 95%;
    @include media-query ($md) {
        // width: 100%;
        // max-width: 100%;
        min-height: 90%;
        height: auto;
    }
}

// SVG Classes
.svg-opacity .cls-1, .svg-opacity .cls-2 {
    fill: $black-opacity;
}

.svg-opacity .cls-2 {
    fill: $black-opacity;
}

// SVG Styles
.cls-1 {
    fill: url(#linear-gradient);
}

.cls-2 {
    fill: url(#linear-gradient-2);
}